body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.header {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
    padding: 0 100px; /* Añadir padding para margen a los lados */
}

.header img {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 250px; /* Ajusta el tamaño según sea necesario */
}

h1 {
    color: #EB427E;
    margin: 0; /* Eliminar márgenes adicionales */
}

p {
    margin: 0; /* Eliminar márgenes adicionales */
}

.search-container {
    display: flex;
    margin-bottom: 20px;
    padding: 0 100px; /* Añadir padding para margen a los lados */
}

#search-input, #search-button {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ddd;
}

#search-input {
    flex-grow: 1;
    border-radius: 4px 0 0 4px;
}

#search-button {
    background-color: #4CAF50;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    border: none;
}

#search-button:hover {
    background-color: #45a049;
}

#results {
    margin-top: 20px;
    padding: 0 100px; /* Añadir padding para margen a los lados */
}

.result-item {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #222;
}

.result-item h3 {
    margin-top: 0;
    color: #7EC6E3;
}

.result-item a {
    text-decoration: none;
    color: #7EC6E3;
}

.result-item a:hover {
    text-decoration: underline;
}

.result-item p {
    color: #bbb;
    margin-bottom: 0;
}

main {
    flex-grow: 1;
}

footer {
    text-align: right;
    padding: 10px 20px;
    border-top: 1px solid #ddd;
    color: #bbb;
    background-color: black;
    box-sizing: border-box; /* Include padding in the width calculation */
}
